# **Run code:**

**Python**:
>print("Hello World")

In [0]:
print("Hello World")

In [0]:
import pandas as pd

# Create DataFrame
data = {
    "id": [1, 2, 3],
    "name": ["Ankit", "Ravi", "Neha"],
    "salary": [50000, 60000, 55000]
}

df = pd.DataFrame(data)

# Show data
print(df)

# Add new column
df["bonus"] = df["salary"] * 0.10

# Filter rows
high_salary = df[df["salary"] > 55000]

print("\nEmployees with salary > 55000:")
print(high_salary)

In [0]:
import numpy as np

# Create NumPy array
arr = np.array([10, 20, 30, 40, 50])

# Basic operations
print("Array:", arr)
print("Sum:", arr.sum())
print("Mean:", arr.mean())
print("Max:", arr.max())

# Element-wise operation
new_arr = arr * 2
print("Array multiplied by 2:", new_arr)

In [0]:
from pyspark.sql.functions import col

# Create DataFrame
data = [
    (1, "Ankit", 50000),
    (2, "Ravi", 60000),
    (3, "Neha", 55000)
]

columns = ["id", "name", "salary"]

df = spark.createDataFrame(
    data,
    columns
)

display(df)

# Add new column
df2 = df.withColumn(
    "bonus",
    col("salary") * 0.10
)

display(df2)

# Filter data
high_salary = df2.filter(
    col("salary") > 55000
)

display(high_salary)
display(df2)
display(df)

In [0]:
pip install pandas

In [0]:
%sh
pip install pandas

In [0]:
%sh
pip list

In [0]:
from pyspark.sql.functions import col

# Create DataFrame
data = [
    (1, "Ankit", 50000),
    (2, "Ravi", 60000),
    (3, "Neha", 55000)
]

columns = ["id", "name", "salary"]

df = spark.createDataFrame(
    data,
    columns
)

display(df)

# Add new column
df2 = df.withColumn(
    "bonus",
    col("salary") * 0.10
)

display(df2)

# Filter data
high_salary = df2.filter(
    col("salary") > 55000
)

display(high_salary)
display(df2)
display(df)

In [0]:
customers_data = display([
    (1, "North"),
    (2, "South"),
    (3, "East"),
    (4, "West"),
    (5, "North"),
    (6, "South"),
    (7, "East"),
    (8, "West"),
    (9, "North"),
    (10, "South")]
)